.channel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 224px;
    width: 350px;
    padding: 0 44px;
    margin: 60px auto 44px auto;
}

.channel-container .channel-icon {
    width: 62px;
    height: 62px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_felix_2x_90d41aa74a11.png/90d41aa74a11.png);
    background-size: 180px 141px;
    background-position-x: -118px;
    background-position-y: 0px;
    align-self: center;
}

.channel-container h1 {
    margin: 0px;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.channel-container p {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.channel-container button {
    width: 99px;
    height: 30px;;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    color: white;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    align-self: center;    
}