header.userInfo-header {
    height: 150px;
    display: flex;
    margin-bottom: 45px;
    background: inherit;
    border: none;
}

.userInfo-image {
    flex: 1;
    padding-right: 40px;

}

.userInfo-data {
    flex: 2;
    /* display: flex; */
}

.userInfo-stats > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}

.userInfo-stats span {
    font-weight: bold;
}

.userInfo-data ul li {
margin-right: 40px;    
}

.userInfo-userName {
    font-size: 28px;
    margin-bottom: 20px;
}

.userInfo-image img {
    display: block;
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}