.userPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    box-sizing: content-box;
    max-width: 935px;
    margin: auto;
    padding: 50px 20px 0;
    background-color: inherit;

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        border-top: 1px solid #efefef;
        width: 100%;
        margin-top: -1px;
        margin-right: 60px;
        font-weight: 600;
        font-size: 12px;
        height: 52px;

        .active {
            color: #262626;
            border-top: 1px solid #262626;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #999;
            margin-right: 60px;
            height: 53px;
        
            .text-container {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                
                span {
                    margin-left: 6px;
                }
            }
        }
    }

    .posts-sprite {
        display: inline-block;
        height: 12px;
        width: 12px;
        background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_6ba81dcece9b.png/6ba81dcece9b.png);
        background-position: -177px -366px;
        background-size: 410px 396px;
        
        &:active {
            background-position: -189px 366px;
        }
    }
    
    .channel-sprite {
        display: inline-block;
        height: 12px;
        width: 12px;
        background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_6ba81dcece9b.png/6ba81dcece9b.png);
        background-position: -164px -366px;
        background-size: 410px 396px;

        &:active {
            background-position: 410px 396px;
        }
    }
    .saved-sprite {
        display: inline-block;
        height: 12px;
        width: 12px;
        background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_6ba81dcece9b.png/6ba81dcece9b.png);
        background-position: -401px -13px;
        background-size: 410px 396px;

        &:active {
            background-position: -401px -13px;
        }
    }
    .tagged-sprite {
        display: inline-block;
        height: 12px;
        width: 12px;
        background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_6ba81dcece9b.png/6ba81dcece9b.png);
        background-position: -315px -319px;
        background-size: 410px 396px;

        &:active {
            background-position: -315px -319px;
        }
    }
}