

article.post-wrap
{
    max-width: 614px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 60px;
}
header.post-header
{ 
    display: flex;
    padding: .6em 1em;
    justify-content: space-between;
    border-radius:  3px 3px 0 0;
    border: 1px solid #e6e6e6;

}
.header-flex
{
    display: flex;
    align-items: center;
}
.user-image
{
    width: 42px;
    height: 42px;
    display: inline-block;
    background-image: linear-gradient(to left bottom, #d62976, #ea3664, #f64b4f, #fc6439, #fa7e1e);
    border-radius: 30px;
    position: relative;
}
.user-image img
{
    width: 34px;
    height: 34px;
    border-radius: 30px;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.post-user-top-details
{
    padding-left: 1em;
    display: inline-block;
}
.post-user-top-details > *
{
    margin: 0;
    font-size: .8rem;  
}
.post-user-top-details a
{
    font-size: 14px;
    font-weight: 600 !important;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
.post-user-top-details a:visited
{
    color: #333333;
}
.post-settings
{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #434344;
    align-self: center;
    position: relative;
    top: -8px;
    margin: 0;
}

.visual
{
    height: 100%;
    max-height: 70vh;
    overflow: hidden;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}
.visual img
{
    display: block;
    width: 100%;
    position: relative;
}
.interaction
{
    border: 1px solid #e6e6e6;
    padding: .3em 1em;
}
.features
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article.post-wrap button
{
    border: none;
    background-color: transparent;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
}

@keyframes btn-liked {

    0%{transform:scale(1);}
    50%{transform:scale(1.1);}
    100%{transform:scale(1);}

}
button span.like-btn
{
    display: block;
    height: 24px;
    width: 24px;
}
button span.liked
{
    background: url('./61393e2520c3.png') -52px -203px;
    animation: btn-liked .4s alternate backwards;
}
button span.unliked
{
    background: url('./61393e2520c3.png') -78px -203px;
}

.comments
{
    padding-top: .6em;
}
button span.comment-btn
{ 
     display: block;
    height: 24px;
    width: 24px;
    background: url('./61393e2520c3.png') -131px -146px;
}
button span.share-btn
{ 
     display: block;
    height: 24px;
    width: 24px;
    background: url('./61393e2520c3.png') -26px -255px;
}
button span.save-btn
{ 
    display: block;
    height: 24px;
    width: 24px;
    background: url('./61393e2520c3.png') -268px -130px;
}


button span.post-saved
{
    display: block;
    height: 24px;
    width: 24px;
    background: url('./61393e2520c3.png') -268px -52px;
}
.like-counter p 
{
    margin: 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: #333333;
    padding-left: .2em;

}
.interaction .caption p
{
    font-size: 0.9rem;
    margin: 0;
}
.interaction .caption span
{
    font-size: 0.9rem;
    font-weight: 600;
}
.add-a-comment
{
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-radius: 0 0 3px 3px;
    padding: .3em 1em;
    color: #999;
    min-height: 46px;
    display:flex;
    justify-content: space-between;
}
.add-comment
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.add-comment textarea
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    width: 100%;
    background: 0 0;
    border: 0;
    color: #262626;
    font-size: inherit;
    height: 24px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 18px;

}
.add-comment textarea::placeholder
{
    font-size: .8rem;
}
.add-comment button
{
    color: #3897f0;
    font-weight: 700;
}
.view-all-comments
{
    margin-bottom: .8em;
}
.view-all-comments button
{
    text-decoration: none;
    color: #cccccc;
    font-size: .8rem;
    font-weight: bold;
}

/* comments component */

.comments-area
{
    font-size: .8rem;
    color: #333333;
    padding: .2em 0;
    display: flex;
}
.comments-area span:first-child
{
    font-weight: bold;
}
.date-format-comment
{
    text-transform: uppercase;
    color: #cccccc;
    font-size: .6rem;
}
.self-comment
{
    width: 100%;
}
.comment-like
{
    width: 12px;
    height: 11px;
    background: url('./61393e2520c3.png') -392px -255px;
    cursor: pointer;
}
.comment-liked
{
    width: 12px;
    height: 11px;
    background: url('./61393e2520c3.png') -406px -255px;
    cursor: pointer;
}