.me-profile
{
display: flex;
align-items: center;
margin-bottom: 1em;
}
.slider-homepage
{
    padding-left: 1.4em;
    flex: 1;
    position: sticky;
    top: 10%;
    align-self: end;
}
.me-profile-content
{
    padding-left: .6em;
}
.me-profile-content p
{
    margin: 0;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 400;
    color: #c3c3c3;
    padding-left: .2em;
}
.me-profile a
{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: #333333;
    padding-left: .2em;
}
a.image-profile-sidebar
{
    width: 54px;
    height: 54px; 
    display: inline-block;
    overflow: hidden;
    border-radius: 65px;
    padding: 0;
}
a.image-profile-sidebar img
{
    width: 160%;
    border-radius: 30px;  
}
.stories-home-page
{
  background: #fff;
  border-radius: 3px 3px 0 0;
  border: 1px solid #e6e6e6;
  padding: 1em;
}
.header-sidebar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.header-sidebar p
{
    margin: 0;
    font-size: 0.9rem;
}
.header-sidebar p:first-child
{
    font-weight: 600;
    color: #c3c3c3;
}
.header-sidebar p:last-child
{
    font-weight: 600;
    font-size: 0.7rem;
}
.story-top-details
{
    padding-left: 1em;
}
.story-top-details a
{
    font-size: .8rem;
    font-weight: 600 !important;
    text-decoration: none;
    display: block;
}
.story-top-details p
{
    margin: 0;
    color: #c3c3c3;
    font-size: .8rem;
    font-weight: 400;
}
.sugestions-friends-homepage
{
    background: #fff;
    border-radius: 3px 3px 0 0;
    border: 1px solid #e6e6e6;
    padding: 1em;
    margin: .6em 0;
}
.sugestions-sidebar
{
    padding-bottom: 1em; 
}
.user-top-details
{
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
}
.user-top-details p
{
    margin: 0;
    color: #c3c3c3;
    font-size: .8rem;
}

.user-top-details a
{
    font-size: .8rem;
    font-weight: 600 !important;
    text-decoration: none;
    display: block;
}


.user-top-details button
{
    color: #3897f0;
    font-weight: 700;
}
.footer-home-page
{

}
.footer-home-page ul
{
 list-style: none;
 margin: 0;
 padding: 0;
}
.footer-home-page ul li
{
    display: inline;
    padding: .1em;
    color: #c3c3c3;
    font-size: .7rem;
    font-weight: 400;
}

.footer-home-page ul li::after
{
    content: "\00B7";
    margin: 0 .25em;
}
.right-resered
{
    margin-top: 1em;
    color: #c3c3c3;
    font-size: .8rem;
    font-weight: 400;
}
