.header {
  background: white;
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

.flexHeader{
  display: flex;
  background: blue;
  margin: 10px;
}
.logo {
  margin: 10px;
  color: aqua
 }
.search {
  flex: center;
}
/* .exploreButton {

}
.notification {

}
.userButton {

}
.loader {
  
} */