.header {
  background: white;
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

.flexHeader{
  display: flex;
  background: rgb(255, 217, 0);
  margin: 10px;
}
.logo {
  margin: 10px;
  color: aqua;
  order: 1;
 }
.search {
  flex: center;
  order: 2;
}
/* .exploreButton {

}
.notification {

}
.userButton {

}
.loader {
  
} */