.gallery-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    .image-div {
        position: relative;
        width: 293px;
        height: 293px;
        margin: 0 15px 15px 0;

        .overlay{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

            .overlay-info {
                width:100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .overlay-info:first-child {
                    color:red;
                    margin-right: 10px;
                }

                .info-container {
                    display: flex;
                    flex-direction: row;
                    height: 18px;
                }

                span {
                    font-weight: bold;
                    color:white;
                    font-size: 18px;
                }

                .likes {
                    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_6ba81dcece9b.png/6ba81dcece9b.png);
                    background-position: -758px -551px; 
                    width: 38px;
                    height: 36px;
                }

                .comments {
                    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_6ba81dcece9b.png/6ba81dcece9b.png);
                    background-position: -758px -468px; 
                    width: 38px;
                    height: 33px;
                }
            
        }

        &:hover .overlay {
            display: block;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}