.dicoverConteiner
{
    margin-top: 70px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}


.dicoverHeader 
{
    height: 20px;
    width: 100%;
    background: indigo;  
    display: flex;
    justify-content: space-between;
}

.seeAll
{
    color: blue;
}

.discoverAllUser
{
    display: flex;
    flex-direction: row;
}

.discoverUser
{
    height: 164px;
    width: 142px;
    border: 1px solid black;
    margin: 30px;
    border-radius: 5px;
    background: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    
}

.userPctuar
{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    /* background: red; */
    margin: 10px auto;
    border: 1px solid black;
}

.userDescription
{
    color: inherit;
}

.exploreFollowButton
{
    background: rgb(56, 151, 240);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    padding: 1px 9px;
    border-radius: 10%;
    width: auto;
    height: 30px;
    box-sizing: border-box;
}