
.container-login
{
 max-width: 935px;
 margin: 0 auto;
}




/* ==== logo  ===== */

.logo
{

    margin: 22px auto 12px;
    background: url('./images/f01fcb405c10.png') -98px -150px;
    height: 51px;
    width: 175px;

}

/* ==== Footer  ===== */

footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    margin-top: -130px; 
}
footer ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 3;
}
footer ul li 
{
    display: inline-block;
    padding: 0 .4%;
    margin: 1% .4%;
}
footer ul li a
{
    color: #003569;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
footer ul li a:visited
{
    color: #003569;
}
footer span
{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
}




/* ==== login area  ===== */

.inner-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-container .image-slides
{
    background-image: url('./images/slides-bg.png');
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    background-size: 95%;
    position: relative;
    flex: 1;
}
.inner-container .image-slides img
{
    display: inline-block;
    position: absolute;
    top: 92px;
    left: 144px

}
.inner-container .login-area
{
  flex: 1;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  background-color: #fff;
}

.login-area .login-form form input
{
    border: 1px solid #efefef;
    background: #fafafa;
    padding: 10px;
    margin: 6px auto;
    text-overflow: ellipsis;
    border-radius: 4px;
    display: block;
    width: 60%;
}

.login-form form
{
    padding: 20px;
}
.login-btn
{
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 10px;
    margin: 10px auto;
    text-overflow: ellipsis;
    border-radius: 4px;
    display: block;
    width: 66%;
    color: #fff;
    font-weight: bold;
}
.login-btn:hover
{
    cursor: pointer;
}

