
main, footer
{
    width: 100%;
    max-width: 935px;
    margin: 0 auto;
}


/* ==== header ==== */


.sticky {
    position: sticky;
    top: 0%;
    z-index: 1;
}


.appRouterHeader
{
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
    height: 77px;
}

.appRouterHeaderFlex
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

/* <==== headerLogo ====> */

.appRouterLogoFlex
{
    display: flex;
    justify-content: space-between;
}

.appRouterCameraLogo
{
    display: inline-block;
    background-image : url('./images/instegram sprite.png');
    margin: 30px;
    margin-right: 10px;
    justify-content: flex-start;
    background-position: -52px -177px;
    width: 24px;
    height: 24px;
}

.appRouterLine
{
    display: inline-block;
    background-color: black;
    width: 1px;
    height: 40px;
    margin-top: 20px;
}

.appRouterWordLogo
 {
    background-image: url('./images/instegram sprite.png');
    background-position: 1px -144px;
    height: 32px;
    width: 105px;
    margin-top: 30px;
    margin-left: 10px;
}

.appRouterSearchBox input
{
    display: flex;
    /* margin: 20px; */
    text-align: center;
}

.appRouterSearchBox::before 
{
    display: inline-block;
    content: "";
    background-image: url('./images/f01fcb405c10.png');
    height: 5px;
    width: 5px;
    background-position: -100px -100px;
}


.appRouterExplore
{
    display: inline-block;
    background-image : url('./images/instegram sprite.png');
    margin: 10px;
    margin-top: 30px;
    height: 24px;
    width: 24px;
    background-position: -267px -26px;
}

.appRouterActivity
{
    display: inline-block;
    background-image : url('./images/instegram sprite.png');
    margin-top: 30px;
    margin: 10px;
    height: 24px;
    width: 24px;
    background-position: -78px -203px;
}

.appRouterProfile
{
    display: inline-block;
    background-image : url('./images/instegram sprite.png');
    margin: 10px;
    margin-top: 30px;
    height: 24px;
    width: 24px;
    background-position: -215px -104px;
}

.appRouterLitleButtons
{
    justify-content: flex-end;
}